#background_image {
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

@media (min-width: 991.98px) {
	#text_info {
		margin-left: 40px;
		margin-top: 40px;
		width: 400px;
		padding: 10px;
		border-radius: 4px;
		background: rgba(0,0,0,0.6);
	}
}

@media (max-width: 991.98px) {
	#text_info {
		margin: 40px;
		padding: 10px;
		border-radius: 4px;
		background: rgba(0,0,0,0.6);
	}
}
